{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Articles{% endblock %}
{% block breadcrumb %}
    <li><a href="/">Accueil</a></li>
    <li class="uk-active"><span>Articles</span></li>
{% endblock %}
{% block body %}
    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            {% for Article in object_list %}
                <h1 class="uk-article-title">
                    {{ Article.title }}
                </h1>

                <p class="uk-article-meta">Rédigé par {{ Article.author.first_name }} {{ Article.author.last_name }}
                    le {{ Article.dateCreated }}.</p>

                <p>{{ Article.content|safe }}</p>
                {% if Article.comment_set.count != 0 %}
                    <button data-uk-toggle="{target: '#_{{ Article.id }}'}"
                            class="uk-button uk-button-small uk-button-primary"><span
                            class="uk-icon-comments uk-icon-mini"> Afficher les commentaires</span>
                    </button>
                    <ul class="uk-comment-list uk-hidden" id="_{{ Article.id }}">
                        {% for comment in Article.comment_set.all %}
                            <li class="uk-comment">
                                <article class="uk-margin-top uk-comment">
                                    <div class="uk-comment-header">
                                        <h4 class="uk-comment-title">{{ comment.author }}</h4>

                                        <p class="uk-comment-meta">{{ comment.dateCreated }}</p>
                                    </div>
                                    <div class="uk-comment-body">{{ comment.content }}
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            {% if is_paginated %}
                <div class="uk-width-medium-3-4">
                    <ul class="uk-pagination uk-margin-top">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                    class="uk-icon-angle-double-left"></i></a></li>
                        {% else %}
                            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                        {% endif %}
                        <li class="uk-active"><span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i
                                    class="uk-icon-angle-double-right"></i></a></li>
                        {% else %}
                            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </article>
    </div>
{% endblock %}
