{% extends "base.html" %}
{% block title %}Photos{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %}
	<div class="uk-width-medium-4-4">
		<p class="uk-text-large uk-text-center">Déplacez votre curseur sur l'image et utilisez les flèches pour aller d'une image à l'autre.</p>
		<div class="uk-grid">
			<div class="uk-width-1-6"></div>
			<div class="uk-width-4-6">
				<div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true, height:500}">
					<ul class="uk-slideshow">
						{% for Photo in object_list %}
						<li><img src="{{ Photo.photo.url }}"></li>
						{% endfor %}
					</ul>
					<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
					<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
				</div>
			</div>
			<div class="uk-width-1-6"></div>
		</div>
	</div>
</div>
{% endblock %}